configuration:
  runner:
    events:
      recordTaskInVars: true
  dependencies:
    - "mvn://com.walmartlabs.concord.plugins:terraform-task:1.22.0"
    - "mvn://com.walmartlabs.concord.plugins:git:1.32.1"
  arguments:
    accessKey: "${crypto.exportAsString(projectInfo.orgName, 'aws_access_key_id', null)}"
    secretKey: "${crypto.exportAsString(projectInfo.orgName, 'aws_secret_access_key', null)}"
    gateway:
      provisio_version: {{gateway.provisio_version}}
      region: {{gateway.region}}
      aws_access_key: ${accessKey}
      aws_secret_key: ${secretKey}
      hosted_zone_id: {{gateway.hosted_zone_id}}
      aws_account: {{gateway.aws_account}}
      ec2_keypair: {{gateway.ec2_keypair}}
      ch_cloud: {{gateway.ch_cloud}}
      ch_environment: {{gateway.ch_environment}}
      ch_team: {{gateway.ch_team}}
      ch_project: {{gateway.ch_project}}
      ch_user: {{gateway.ch_user}}

flows:
  default:
    - call: gitClone
    - call: terraformApply

  destroy:
    - call: gitClone
    - call: terraformDestroy

  gitClone:
    - task: git
      in:
        action: "clone"
        url: "https://github.com/awiesner4/strongdm-automation.git"
        baseBranch: "main"
        out: "response"
        ignoreErrors: true

    - if: "${!response.ok}"
      then:
        - log: "Clone action failed: ${response.error}"

  terraformApply:
    - task: terraform
      in:
        debug: false
        verbose: true
        action: apply
        toolVersion: "{{terraform.version}}"
        dir: "strongdm-automation/terraform/projects/gateway"
        extraVars: ${gateway}

  terraformDestroy:
    - task: terraform
      in:
        debug: false
        action: plan
        destroy: true
        toolVersion: "{{terraform.version}}"
        dir: "strongdm-automation/terraform/projects/gateway"
        extraVars: ${gateway}

    - task: terraform
      in:
        debug: true
        verbose: true
        action: apply
        toolVersion: "{{terraform.version}}"
        plan: ${result.planPath}
        extraVars: ${gateway}
        dir: "strongdm-automation/terraform/projects/gateway"
      retry:
        times: 3
        delay: 30