configuration:
  runner:
    events:
      recordTaskInVars: true
  dependencies:
    - "mvn://com.walmartlabs.concord.plugins:terraform-task:1.22.0"
    - "mvn://com.walmartlabs.concord.plugins:git:1.32.1"
  arguments:
    accessKey: "${crypto.exportAsString(projectInfo.orgName, 'aws_access_key_id', null)}"
    secretKey: "${crypto.exportAsString(projectInfo.orgName, 'aws_secret_access_key', null)}"
    roles:
      region: {{roles.region}}
      aws_access_key: ${accessKey}
      aws_secret_key: ${secretKey}
      kms_key_account: {{roles.kms_key_account}}
      kms_key_id: {{roles.kms_key_id}}
      asm_secret_account: {{roles.asm_secret_account}}
      asm_secret_name: {{roles.asm_secret_name}}
      ch_cloud: {{roles.ch_cloud}}
      ch_environment: {{roles.ch_environment}}
      ch_team: {{roles.ch_team}}
      ch_project: {{roles.ch_project}}
      ch_user: {{roles.ch_user}}

flows:
  default:
    - call: gitClone
    - call: terraformApply

  destroy:
    - call: gitClone
    - call: terraformDestroy

  gitClone:
    - task: git
      in:
        action: "clone"
        url: "https://github.com/awiesner4/strongdm-automation.git"
        baseBranch: "main"
        out: "response"
        ignoreErrors: true

    - if: "${!response.ok}"
      then:
        - log: "Clone action failed: ${response.error}"

  terraformApply:
    - task: terraform
      in:
        debug: false
        verbose: true
        action: apply
        toolVersion: "{{terraform.version}}"
        dir: "strongdm-automation/terraform/projects/account-roles"
        extraVars: ${roles}

  terraformDestroy:
    - task: terraform
      in:
        debug: false
        action: plan
        destroy: true
        toolVersion: "{{terraform.version}}"
        dir: "strongdm-automation/terraform/projects/account-roles"
        extraVars: ${roles}

    - task: terraform
      in:
        debug: true
        verbose: true
        action: apply
        toolVersion: "{{terraform.version}}"
        plan: ${result.planPath}
        extraVars: ${roles}
        dir: "strongdm-automation/terraform/projects/account-roles"
      retry:
        times: 3
        delay: 30