{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "kmsAccessPolicy",
      "Effect": "Allow",
      "Action": [
        "kms:Encrypt",
        "kms:Decrypt",
        "kms:ReEncrypt*",
        "kms:GenerateDataKey*",
        "kms:DescribeKey"
      ],
      "Resource": "arn:aws:kms:${region}:${kms_key_account}:key/${kms_key_id}"
    }
  ]
}