{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "GetStrongDMSecret",
      "Effect": "Allow",
      "Action": [
        "secretsmanager:GetSecretValue"
      ],
      "Resource": "arn:aws:secretsmanager:${region}:${asm_secret_account}:secret:${asm_secret_name}*"
    }
  ]
}